<html>
    <head>
        {% load staticfiles %}
        <title>
            Django Poll
        </title>
        <link text = "text/css" rel ="stylesheet" href="{% static 'pollsApp/index.css' %}">
    </head>
    <body>
        <h1>Welcome to my Polls application!</h1>
        <h3>Please choose which poll you would like to answer:</h3>
        {% if latest_question_list %}
        <div class = "list"><ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'pollsApp:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
        </div>
        <img src ={% static 'pollsApp/poll-box.png' %} alt = "New image" />
    </body>
</html>